p {
  font-size: 20px;
}

.navbar {
  background-color: #fff !important;
}
.navbar-nav {
  margin-left: auto;
}

.nav-item a {
  color: #f1717d !important;
}

.navbar-toggler-icon {
  color: black !important;
}
.navbar-toggler {
  color: blue;
}
.social-links img {
  margin: 6px;
}

.book-now {
  margin-right: 40px;
}

.more_reasons {
  margin: 20px;
}

.smylish_reasons img {
  width: 30px;
}

.eligible {
  margin: 20px;
}

.more_reasons {
  background-color: #11a9a3;
}

.owl-carousel {
  margin-top: 40px;
}
