html {
  scroll-behavior: smooth;
}

p {
  font-size: 20px;
}

.navbar {
  background-color: #fff !important;
}
.navbar-nav {
  margin-left: auto;
}

.nav-item a {
  color: #f1717d !important;
}

.navbar-toggler-icon {
  color: blue;
}
.social-links img {
  margin: 6px;
}

.book-now {
  margin-right: 40px;
}
.book-now button {
  border: none !important;
}
.more_reasons {
  margin: 20px;
  padding: 30px;
}
.more_reasons p {
  color: white;
  font-size: 0.9rem;
}
.more-reasons-img-r1 img {
  height: 5rem;
}
.more-reasons-img-r2 img {
  height: 5rem;
}
.smylish_reasons img {
  width: 30px;
}

.eligible {
  margin: 20px;
}

.more_reasons {
  background-color: #11a9a3;
}

.owl-carousel {
  margin-top: 40px;
}

.owl-item-text {
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}
.smylish_life {
  margin-top: 40px;
}

.smylish_life .card {
  border: none !important;
}

.no-emergencies img {
  width: 120px;
}

.top-reasons {
  margin-top: 20px;
  color: #f1717d;
  font-weight: 700;
  font-size: 2rem;
}

.aligners-parent {
  background-color: #f1717d;
  max-width: 100%;
  position: relative;
}
.aligners-parent button {
  background-color: #11a9a3 !important;
  color: white;
  position: absolute;
  bottom: -19px;
  border: none;
  margin-left: 38%;
}
.aligners-image img {
  margin-top: 30px;
}

.aligners-content p {
  margin-top: 50px;
  color: white;
}

.pricing {
  margin-top: 40px;
}

.pricing img {
  height: 50px;
  width: 250px;
}

.pricing p {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}
.pricing button {
  background-color: #f1717d;
}

.footer1 {
  background-color: #d0d0d0;
}

.footer1 .left {
  margin-top: 30px;
}

.footer1 .right {
  margin-top: 30px;
}

.footer2 {
  background-color: #11a9a3;
  color: white;
}

.footer2 p {
  padding: 10px;
}

.header1 .left p {
  float: left;
}

.header1 .right p {
  float: right;
}

.btn {
  background-color: #f1717d !important;
}

.quick-links p {
  margin-bottom: 2px;
  font-size: 0.85rem;
  font-weight: 500;
}
.contact-us a {
  font-size: 1rem;
  margin-top: 25px;
}
.contact-us p {
  font-size: 0.85rem;
  margin-top: -10px;
  font-weight: 500;
}

.reasons-content h5 {
  margin-top: 2px;
}
.r-title {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 800;
  color: #f1717d;
}

.r-description {
  font-size: 0.85rem;
  justify-content: center;
  padding-left: 25px;
  font-weight: 500;
}
.designation {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: -20px;
}
