p {
  font-size: 20px;
}

.navbar {
  background-color: #fff !important;
}
.navbar-nav {
  margin-left: auto;
}

.nav-item a {
  color: #f1717d !important;
}

.navbar-toggler-icon {
  color: blue;
}
.social-links img {
  margin: 6px;
}

.book-now {
  margin-right: 40px;
}

.more_reasons {
  margin: 20px;
  padding: 30px;
}
.more_reasons p {
  color: white;
  font-size: 0.9rem;
}
.more-reasons-img-r1 img {
  height: 5rem;
}
.more-reasons-img-r2 img {
  height: 5rem;
}
.smylish_reasons img {
  width: 30px;
}

.eligible {
  margin: 20px;
}

.more_reasons {
  background-color: #11a9a3;
}

.owl-carousel {
  margin-top: 40px;
}

.owl-item-text {
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}
.smylish_life {
  margin-top: 40px;
}

.smylish_life .card {
  border: none !important;
}

.no-emergencies img {
  width: 120px;
}

.top-reasons {
  margin-top: 20px;
  color: #f1717d;
  font-weight: 700;
  font-size: 2rem;
}

.aligners-parent {
  background-color: #f1717d;
  max-width: 100%;
}

.aligners-image img {
  margin-top: 30px;
}

.aligners-content p {
  margin-top: 50px;
  color: white;
}
